.hidden-mobile
{
    background: #17171D;
    height: 100vh;
     padding-top: 80px;
     padding-left: 80px;
    .ligas
    {
      width: 20%;
      height: 100vh;
      // border: 1px solid green;
      h1
      {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        padding-left: 10px;
        color: #a1a2a5;
      }
    }
}
